@charset "utf-8"

@import "../../node_modules/bulma/bulma.sass"
@import "../../node_modules/bulma/sass/utilities/_all.sass"

.navbar-item .icon
  margin-right: 5px
  margin-top: 5px

// TODO figure out why the burger menu isn´t white by default
a.navbar-burger
  color: #fff

section.hero
  margin-bottom: 20px

.image-tag
  margin-left: 12px
  margin-top: 12px

.image-tag-overlay
  position: absolute
  top: 12px
  left: 12px

.column.first
  flex: none
  width: 100%

.side-main-outer
  position: relative

@media screen and (min-width: $tablet)
  .post-feed
    margin-top: -100px
    padding-top: 0

.image .post-image
  width: auto
  height: 200px
  background: #c5d2d9 none no-repeat 50% 50%
  background-size: cover

@media screen and (max-width: $desktop)
  .container
    max-width: $tablet
    width: $tablet

.card-content-link
  color: #15171a

.card.post
  transition: all .5s ease

.card.post:hover
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.15), 1px 6px 12px rgba(39, 44, 49, 0.23)
  transition: all .8s ease
  transform: translate3D(0,-1px,0) scale(1.02)

.footer
  margin-top: 20px